### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
percolation/percolation.zip
percolation/Percolation.class
percolation/PercolationStats.class
